.container {
  background-color: #17212b;
  height: 70px;

  & button {
    width: 250px;
    height: 100%;
    font-size: 23px;
    background-color: #4082bc;
    border: none;
    color: #fff;
  }

  & button:hover {
    background-color: #4b9de6;
    cursor: pointer;
  }
}
